/* Dark mode */
@media (prefers-color-scheme: dark) {
  /* Global CSS */
  body {
    background-color: black;
    color: white;
    border-color: white;
  }
  input,
  textarea {
    background-color: #444;
    border-color: white;
  }
  input[type="checkbox"]:checked {
    background-color: white;
  }
  form.charsheet ::-moz-placeholder,
  form.charsheet ::placeholder {
    color: #444;
  }
  .data ul li button {
    background-color: #444;
    border: 1px solid white;
    color: white;
    border-radius: 0.25em;
  }
  form.charsheet header section.charname,
  form.charsheet header section.spellcastingclassandability {
    background-color: #111;
  }
  form.charsheet header section.misc ul li input {
    border-bottom: #222;
  }

  /* Page 1: General */
  form.charsheet main > section section.attributes div.scores {
    background-color: #444;
  }
  form.charsheet main > section section.attributes div.scores ul li {
    background-color: black;
  }
  form.charsheet
    main
    > section
    section.attributes
    div.scores
    ul
    li
    div.score
    input {
    background: black;
  }
  form.charsheet
    main
    > section
    section.attributes
    div.scores
    ul
    li
    div.modifier
    input {
    background: black;
  }
  form.charsheet
    main
    > section
    section.attributes
    div.attr-applications
    div.list-section
    ul
    li
    label
    span.skillstat {
    color: #444;
  }
  form.charsheet main section.combat {
    background-color: #222;
  }
  form.charsheet main section.combat > div.armorclass > div label,
  form.charsheet main section.combat > div.initiative > div label,
  form.charsheet main section.combat > div.speed > div label {
    background-color: black;
  }
  form.charsheet main section.combat > div.hp > div.regular {
    background-color: black;
  }
  form.charsheet main section.combat > div.hp > div.regular > div.max label {
    color: #444;
  }
  form.charsheet main section.combat > div.hp > div.regular > div.max input {
    border-bottom: #222;
  }
  form.charsheet main section.combat > div.hp > div.temporary {
    background-color: black;
  }
  form.charsheet main section.combat > div.hitdice > div {
    background-color: black;
  }
  form.charsheet main section.combat > div.hitdice > div > div.total label {
    color: #444;
  }
  form.charsheet main section.combat > div.hitdice > div > div.total input {
    border-bottom: #222;
  }
  form.charsheet main section.combat > div.deathsaves > div {
    background: black;
  }
  form.charsheet main section.attacksandspellcasting > div > table th {
    color: #444;
  }
  form.charsheet main section.attacksandspellcasting > div > table input {
    background-color: #222;
  }
  form.charsheet main section.flavor {
    background: #444;
  }
  form.charsheet main section.flavor div {
    background: black;
  }

  /* Page 2: Spells */
  .spelllist ul li input[type="text"] {
    border-color: white;
  }
}
