/* Global CSS */
:root {
  background-color: var(--background);
  color: var(--text);
  border-color: var(--inverseBackground);

  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  overflow: auto;
}
button,
input,
textarea {
  color: var(--text);
  border-color: var(--inverseBackground);
  background-color: var(--textBackground);
}
button,
input,
label,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
textarea {
  font-size: 12px;
  text-align: left;
  width: calc(100% - 22px);
  padding: 5px;
  resize: none;
  overflow: hidden;
  height: 15em;

  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
}
input[type="checkbox"] {
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background-color: var(--inverseBackground);
}
::-moz-placeholder,
::placeholder {
  color: var(--textPlaceholder);
}
div.box {
  margin-top: 10px;
}
#charsheet {
  width: 8.5in;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
#charsheet div.textblock {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;
}
#charsheet div.textblock label {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-top: 0;
  font-size: 10px;
  width: calc(100% - 24px);
  border-radius: 0 0 10px 10px;
  padding: 4px 0;
  font-weight: bold;
}
#charsheet ul {
  margin: 0;
  padding: 0;
}
#charsheet ul li {
  list-style-image: none;
  display: block;
}
#charsheet label {
  text-transform: uppercase;
  font-size: 12px;
}
#charsheet header {
  display: flex;
  align-items: stretch;
  height: 1in;
}
#charsheet .page {
  height: 11in;
}
#charsheet header .charname,
#charsheet header .spellcastingclassandability {
  background-color: var(--offBackground1);
  border-width: 1px;
  border-style: solid;
  border-right: 0;
  border-radius: 10px 0 0 10px;
  padding: 5px 0;
  width: 30%;
  display: flex;
  flex-direction: column-reverse;
  bottom: 0;
  top: 0;
  margin: auto;
}
#charsheet header .charname input {
  padding: 0.5em;
  margin: 5px;
  border: 0;
}
#charsheet header .charname label {
  padding-left: 1em;
}
#charsheet header .misc {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  align-content: space-between;
}
#charsheet header .misc ul {
  padding: 5px 0px;
  display: flex;
  flex-wrap: wrap;
}
#charsheet header .misc ul li {
  width: 33.33333%;
  display: flex;
  flex-direction: column-reverse;
}
#charsheet header .misc ul li label {
  margin-bottom: 5px;
}
#charsheet header .misc ul li input {
  width: calc(100% - 10px);
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: var(--offBackground2);
}
#charsheet header .data {
  display: flex;
  align-content: space-between;
}
#charsheet header .data ul {
  width: 56px;
  display: flex;
  flex-wrap: wrap;
  padding: initial;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  margin-left: 5px;
}
#charsheet header .data ul li {
  width: 51px;
  margin: auto;
  padding: initial;
}
#charsheet header .data ul li button {
  width: 51px;
  cursor: pointer;
  background-color: var(--offBackground1);
  border: 1px solid var(--inverseBackground);
  color: var(--text);
  border-radius: 0.25em;
}
#charsheet header .data ul li button:hover {
  background-color: var(--offBackground3);
}
#charsheet header .data ul li button:active {
  background-color: var(--faintBlue);
}
#charsheet main {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  height: calc(10in - 10px);
}
#charsheet main div.label-container {
  position: relative;
  width: 100%;
  height: 18px;
  margin-top: 6px;
  border-width: 1px;
  border-style: solid;
  border-left: 0;
  text-align: center;
}
#charsheet main div.label-container > label {
  position: absolute;
  left: 0;
  top: 1px;
  transform: translate(0%, 50%);
  width: 100%;
  font-size: 8px;
}
