/* Global CSS */
textarea {
  font-size: 12px;
  text-align: left;
  width: calc(100% - 22px);
  border-radius: 10px;
  padding: 5px;
  resize: none;
  overflow: hidden;
  height: 15em;
}
input[type="checkbox"] {
  cursor: pointer;
}
div.box {
  margin-top: 10px;
}
form.charsheet {
  width: 8.5in;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
form.charsheet div.textblock {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;
}
form.charsheet div.textblock label {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-top: 0;
  font-size: 10px;
  width: calc(100% - 24px);
  border-radius: 0 0 10px 10px;
  padding: 4px 0;
  font-weight: bold;
}
form.charsheet textarea {
  border-width: 1px;
  border-style: solid;
}
form.charsheet ul {
  margin: 0;
  padding: 0;
}
form.charsheet ul li {
  list-style-image: none;
  display: block;
}
form.charsheet label {
  text-transform: uppercase;
  font-size: 12px;
}
form.charsheet header {
  display: flex;
  align-items: stretch;
  height: 1in;
}
form.charsheet div.frontpage,
form.charsheet div.spellcastingpage,
form.charsheet div.extraspage {
  height: 11in;
}
form.charsheet header section.charname,
form.charsheet header section.spellcastingclassandability {
  border-width: 1px;
  border-style: solid;
  border-right: 0;
  border-radius: 10px 0 0 10px;
  padding: 5px 0;
  width: 30%;
  display: flex;
  flex-direction: column-reverse;
  bottom: 0;
  top: 0;
  margin: auto;
}
form.charsheet header section.charname input {
  padding: 0.5em;
  margin: 5px;
  border: 0;
}
form.charsheet header section.charname label {
  padding-left: 1em;
}
form.charsheet header section.misc {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
}
form.charsheet header section.misc ul {
  padding: 10px 0px 5px 0px;
  display: flex;
  flex-wrap: wrap;
}
form.charsheet header section.misc ul li {
  width: 33.33333%;
  display: flex;
  flex-direction: column-reverse;
}
form.charsheet header section.misc ul li label {
  margin-bottom: 5px;
}
form.charsheet header section.misc ul li input {
  width: calc(100% - 10px);
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}
form.charsheet header section.data ul li {
  padding: 5px;
  display: flex;
}
form.charsheet main {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  height: calc(10in - 10px);
}
form.charsheet main div.label-container {
  position: relative;
  width: 100%;
  height: 18px;
  margin-top: 6px;
  border-width: 1px;
  border-style: solid;
  border-left: 0;
  text-align: center;
}
form.charsheet main div.label-container > label {
  position: absolute;
  left: 0;
  top: 1px;
  transform: translate(0%, 50%);
  width: 100%;
  font-size: 8px;
}

/* Page 1: General */
form.charsheet main > section {
  width: 32%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
form.charsheet main > section section.attributes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
form.charsheet main > section section.attributes div.scores {
  width: 101px;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
form.charsheet main > section section.attributes div.scores label {
  width: 100%;
  font-size: 9px;
  font-weight: bold;
}
form.charsheet main > section section.attributes div.scores ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 5px 10px;
}
form.charsheet main > section section.attributes div.scores ul li {
  width: 100%;
  height: calc(16% - 5px);
  margin: 0px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
form.charsheet main > section section.attributes div.scores ul li input {
  width: 100%;
  padding: 0;
  border: 0;
}
form.charsheet
  main
  > section
  section.attributes
  div.scores
  ul
  li
  div.score
  input {
  text-align: center;
  font-size: 40px;
  width: calc(100% - 5px);
}
form.charsheet main > section section.attributes div.scores ul li div.modifier {
  margin-top: 0px;
}
form.charsheet
  main
  > section
  section.attributes
  div.scores
  ul
  li
  div.modifier
  input {
  width: 50%;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  margin: 0px;
  text-align: center;
}
form.charsheet main > section section.attributes div.attr-applications {
  margin-left: 5px;
  height: 100%;
  width: 75%;
}
form.charsheet
  main
  > section
  section.attributes
  div.attr-applications
  div.inspiration {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
form.charsheet
  main
  > section
  section.attributes
  div.attr-applications
  div.inspiration
  input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-width: 1px;
  border-style: solid;
  padding: 15px;
  border-radius: 10px;
}
form.charsheet
  main
  > section
  section.attributes
  div.attr-applications
  div.proficiencybonus {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
form.charsheet
  main
  > section
  section.attributes
  div.attr-applications
  div.proficiencybonus
  input {
  width: 26px;
  height: 24px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  border-radius: 10px;
}
form.charsheet
  main
  > section
  section.attributes
  div.attr-applications
  div.list-section {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 5px 5px 0px 0px;
}
form.charsheet
  main
  > section
  section.attributes
  div.attr-applications
  div.list-section
  div.label {
  margin-top: 10px;
  margin-bottom: 2.5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}
form.charsheet
  main
  > section
  section.attributes
  div.attr-applications
  div.list-section
  ul
  li {
  display: flex;
  align-items: center;
}
form.charsheet
  main
  > section
  section.attributes
  div.attr-applications
  div.list-section
  ul
  li
  > * {
  margin-left: 5px;
}
form.charsheet
  main
  > section
  section.attributes
  div.attr-applications
  div.list-section
  ul
  li
  label {
  text-transform: none;
  font-size: 10px;
  text-align: left;
  order: 3;
}
form.charsheet
  main
  > section
  section.attributes
  div.attr-applications
  div.list-section
  ul
  li
  input[type="text"] {
  width: 30px;
  font-size: 12px;
  text-align: center;
  border: 0;
  border-bottom: 1px solid;
  order: 2;
}
form.charsheet
  main
  > section
  section.attributes
  div.attr-applications
  div.list-section
  ul
  li
  input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  order: 1;
}
form.charsheet main > section div.passive-perception {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
form.charsheet main > section div.passive-perception input {
  width: 26px;
  height: 24px;
  padding: 2px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
}
form.charsheet main > section div.otherprofs {
  height: 100%;
}
form.charsheet main > section div.otherprofs textarea {
  width: calc(100% - 10px);
  height: 100%;
}
form.charsheet main section.combat {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}
form.charsheet main section.combat > div {
  overflow: hidden;
}
form.charsheet main section.combat > div.armorclass,
form.charsheet main section.combat > div.initiative,
form.charsheet main section.combat > div.speed {
  flex-basis: 33.333%;
}
form.charsheet main section.combat > div.armorclass > div,
form.charsheet main section.combat > div.initiative > div,
form.charsheet main section.combat > div.speed > div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 10px;
}
form.charsheet main section.combat > div.armorclass > div label,
form.charsheet main section.combat > div.initiative > div label,
form.charsheet main section.combat > div.speed > div label {
  font-size: 8px;
  width: 50px;
  border-width: 1px;
  border-style: solid;
  border-top: 0;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0 0 10px 10px;
}
form.charsheet main section.combat > div.armorclass > div input,
form.charsheet main section.combat > div.initiative > div input,
form.charsheet main section.combat > div.speed > div input {
  height: 60px;
  width: 60px;
  padding: 5px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  font-size: 30px;
}
form.charsheet main section.combat > div.hp {
  flex-basis: 100%;
}
form.charsheet main section.combat > div.hp > div.regular {
  border-width: 1px;
  border-style: solid;
  margin: 10px;
  margin-bottom: 5px;
  border-radius: 10px 10px 0 0;
}
form.charsheet main section.combat > div.hp > div.regular > div.max {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 0.25em;
}
form.charsheet main section.combat > div.hp > div.regular > div.max label {
  font-size: 10px;
  text-transform: none;
}
form.charsheet main section.combat > div.hp > div.regular > div.max input {
  width: 40%;
  border: 0;
  border-bottom: 1px solid;
  font-size: 12px;
  text-align: center;
}
form.charsheet main section.combat > div.hp > div.regular > div.current {
  display: flex;
  flex-direction: column-reverse;
}
form.charsheet main section.combat > div.hp > div.regular > div.current input,
form.charsheet main section.combat > div.hp > div.temporary input {
  border: 0;
  margin: 10px;
  padding: 0;
  font-size: 20px;
  text-align: center;
}
form.charsheet main section.combat > div.hp > div.regular > div.current label {
  font-size: 10px;
  padding-bottom: 5px;
  text-align: center;
  font-weight: bold;
}
form.charsheet main section.combat > div.hp > div.temporary {
  margin: 10px;
  margin-top: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column-reverse;
}
form.charsheet main section.combat > div.hp > div.temporary label {
  font-size: 10px;
  padding-bottom: 5px;
  text-align: center;
  font-weight: bold;
}
form.charsheet main section.combat > div.hitdice,
form.charsheet main section.combat > div.deathsaves {
  flex: 1 50%;
  height: 100px;
}
form.charsheet main section.combat > div.hitdice > div,
form.charsheet main section.combat > div.deathsaves > div {
  height: 80px;
}
form.charsheet main section.combat > div.hitdice > div {
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
form.charsheet main section.combat > div.hitdice > div > div.total {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  padding: 5px 0;
}
form.charsheet main section.combat > div.hitdice > div > div.total label {
  font-size: 10px;
  margin: 0.25em;
  text-transform: none;
}
form.charsheet main section.combat > div.hitdice > div > div.total input {
  font-size: 12px;
  flex-grow: 1;
  border: 0;
  border-bottom: 1px solid;
  width: 50%;
  margin-right: 0.25em;
  padding: 0 0.25em;
  text-align: center;
}
form.charsheet main section.combat > div.hitdice > div > div.remaining {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
}
form.charsheet main section.combat > div.hitdice > div > div.remaining label {
  text-align: center;
  padding: 2px;
  font-size: 10px;
}
form.charsheet main section.combat > div.hitdice > div > div.remaining input {
  text-align: center;
  border: 0;
  flex: 1;
  margin: 0px 5px;
}
form.charsheet main section.combat > div.deathsaves > div {
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
}
form.charsheet main section.combat > div.deathsaves > div > div.label {
  text-align: center;
}
form.charsheet main section.combat > div.deathsaves > div > div.label label {
  font-size: 10px;
}
form.charsheet main section.combat > div.deathsaves > div > div.marks {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
form.charsheet
  main
  section.combat
  > div.deathsaves
  > div
  > div.marks
  div.deathsuccesses,
form.charsheet
  main
  section.combat
  > div.deathsaves
  > div
  > div.marks
  div.deathfails {
  display: flex;
  align-items: center;
}
form.charsheet
  main
  section.combat
  > div.deathsaves
  > div
  > div.marks
  div.deathsuccesses
  label,
form.charsheet
  main
  section.combat
  > div.deathsaves
  > div
  > div.marks
  div.deathfails
  label {
  font-size: 8px;
  text-align: right;
  flex: 1 50%;
}
form.charsheet main section.combat > div.deathsaves > div div.bubbles {
  flex: 1 40%;
  margin-left: 5px;
}
form.charsheet
  main
  section.combat
  > div.deathsaves
  > div
  div.bubbles
  input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
}
form.charsheet main section.attacksandspellcasting {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  margin-top: 10px;
}
form.charsheet main section.attacksandspellcasting > div {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
form.charsheet main section.attacksandspellcasting > div > label {
  order: 3;
  text-align: center;
}
form.charsheet main section.attacksandspellcasting > div > table {
  width: 100%;
}
form.charsheet main section.attacksandspellcasting > div > table th {
  font-size: 10px;
}
form.charsheet main section.attacksandspellcasting > div > table input {
  width: calc(100% - 4px);
  border: 0;
  font-size: 10px;
  padding: 3px;
}
form.charsheet main section.attacksandspellcasting > div textarea {
  border: 0;
  margin-top: 0.5em;
  width: calc(100% - 10px);
}
form.charsheet main section.equipment {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  margin-top: 10px;
  height: 100%;
}
form.charsheet main section.equipment > div {
  padding: 5px;
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
form.charsheet main section.equipment > div > div.money ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
form.charsheet main section.equipment > div > div.money ul > li {
  display: flex;
  align-items: center;
}
form.charsheet main section.equipment > div > div.money ul > li label {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px 0 0 10px;
  border-right: 0;
  width: 20px;
  font-size: 8px;
  text-align: center;
  padding: 3px 0;
}
form.charsheet main section.equipment > div > div.money ul > li input {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  width: 40px;
  padding: 10px 3px;
  font-size: 12px;
  text-align: center;
}
form.charsheet main section.equipment > div > label {
  order: 3;
  text-align: center;
  flex: 100%;
}
form.charsheet main section.equipment > div > textarea {
  flex: 1;
  border: 0;
  margin-left: 5px;
}
form.charsheet main section.flavor {
  padding: 10px;
  border-radius: 10px;
}
form.charsheet main section.flavor div {
  display: flex;
  flex-direction: column-reverse;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
}
form.charsheet main section.flavor div label {
  text-align: center;
  font-size: 10px;
  margin-top: 3px;
}
form.charsheet main section.flavor div textarea {
  border: 0;
  border-radius: 0;
  height: 4em;
  width: calc(100% - 10px);
}
form.charsheet main section.flavor div:first-child {
  border-radius: 10px 10px 0 0;
}
form.charsheet main section.flavor div:not(:first-child) {
  margin-top: 10px;
}
form.charsheet main section.flavor div:last-child {
  border-radius: 0 0 10px 10px;
}
form.charsheet main section.features {
  padding: 10px 0px;
  height: 100%;
}
form.charsheet main section.features div {
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
}
form.charsheet main section.features div label {
  text-align: center;
}
form.charsheet main section.features div textarea {
  border: 0;
  padding: 5px;
  width: calc(100% - 10px);
  height: 100%;
}

/* Page 2: Spellcasting */
form.charsheet section.spellcastingclassandability input {
  padding: 0.5em;
  margin: 5px;
  border: 0;
}
form.charsheet section.spellcastingclassandability label {
  padding-left: 1em;
}
form.charsheet section.spellcastingmisc {
  width: 70%;
  height: 80px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 0.25em 0.5em 0.25em 0.5em;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
form.charsheet section.spellcastingmisc div label {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  padding: 0.25em;
  font-size: 10px;
}
form.charsheet section.spellcastingmisc div input {
  text-align: center;
  width: 35%;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  font-size: 24px;
}

form.charsheet div.spellcastingpage main {
  display: flex;
  align-items: flex-start;
  margin-top: 5px;
}
form.charsheet div.spellcastingpage main div {
  width: 32%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
form.charsheet div.spellcastingpage main div div {
  width: 100%;
  height: 100%;
}
form.charsheet div.spellcastingpage main div div section.spellheader {
  width: 100%;
  height: 60px;
  margin: 2.5px 0px 2.5px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
form.charsheet
  div.spellcastingpage
  main
  div
  div
  section.spellheader
  section.spelllevel0
  label,
form.charsheet
  div.spellcastingpage
  main
  div
  div
  section.spellheader
  section.spelllevel
  label {
  font-size: 24px;
}
form.charsheet
  div.spellcastingpage
  main
  div
  div
  section.spellheader
  section.spelllevel0,
form.charsheet
  div.spellcastingpage
  main
  div
  div
  section.spellheader
  section.spelllevel {
  float: left;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  margin: 0;
  width: 80px;
  height: 60px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
form.charsheet
  div.spellcastingpage
  main
  div
  div
  section.spellheader
  section.cantripslabel {
  border-width: 1px;
  border-style: solid;
  border-left: 0;
  border-radius: 0 10px 10px 0;
  margin: 0.4em 0 0.4em 0;
  padding: 2px;
  width: 100%;
  height: 45px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
form.charsheet section.spellheader section.spelllabel {
  width: 100%;
  height: 45px;
  border-width: 1px;
  border-style: solid;
  border-left: 0;
  border-radius: 0 10px 10px 0;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
form.charsheet section.spellheader section.spelllabel div {
  padding: 2px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
form.charsheet section.spellheader section.spelllabel div label {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  padding: 2px;
  font-size: 8px;
}
form.charsheet section.spellheader section.spelllabel div input {
  text-align: center;
  padding: 2px;
  width: 35%;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
}
form.charsheet div.spellcastingpage main div div.level0 {
  height: 25%;
}
form.charsheet div.spellcastingpage main div div.level1,
form.charsheet div.spellcastingpage main div div.level2 {
  height: 38%;
}
form.charsheet div.spellcastingpage main div div.level3,
form.charsheet div.spellcastingpage main div div.level4 {
  height: 37%;
}
form.charsheet div.spellcastingpage main div div.level5 {
  height: 26%;
}
form.charsheet div.spellcastingpage main div div.level6,
form.charsheet div.spellcastingpage main div div.level7 {
  height: 28%;
}
form.charsheet div.spellcastingpage main div div.level8,
form.charsheet div.spellcastingpage main div div.level9 {
  height: 22%;
}
form.charsheet div.spellcastingpage main div div section.spelllist {
  width: 100%;
  height: 100%;
  font-size: 12px;
}
form.charsheet div.spellcastingpage main div div section.spelllist ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
form.charsheet div.spellcastingpage main div div section.spelllist ul li {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
}
form.charsheet
  div.spellcastingpage
  main
  div
  div
  section.spelllist
  ul
  li
  input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  order: 1;
}
.spelllist ul li input[type="text"] {
  width: 100%;
  /*font-size: 12px;*/
  margin-left: 5px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

/* Page 3: Extras */
form.charsheet div.extraspage main div {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
}
form.charsheet div.extraspage main div.left {
  width: 33%;
}
form.charsheet div.extraspage main div.right {
  width: 66%;
}
form.charsheet div.extraspage main div section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 33%;
}
form.charsheet div.extraspage main div section textarea {
  height: 100%;
}
form.charsheet div.extraspage main div section label {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-top: 0;
  font-size: 10px;
  width: calc(100% - 24px);
  border-radius: 0 0 10px 10px;
  padding: 4px 0;
  font-weight: bold;
  margin-bottom: 5px;
}
form.charsheet div.extraspage main div section.characterbackstory {
  height: 66%;
}
