:root {
  /* Defaults */
  --profButton-background: rgba(255, 255, 255, 1); /*white*/
  --profButton-text: rgba(255, 255, 255, 1); /*white*/
  --profButton-border: rgba(0, 0, 0, 1); /*black*/
}

/* Light mode [default]*/
@media (prefers-color-scheme: light) {
  :root {
    --profButton-background: rgba(255, 255, 255, 1); /*white*/
    --profButton-text: rgba(255, 255, 255, 1); /*white*/
    --profButton-border: rgba(0, 0, 0, 1); /*black*/
  }
}

/* Dark mode*/
@media (prefers-color-scheme: dark) {
  :root {
    --profButton-background: rgba(68, 68, 68, 1); /*custom*/
    --profButton-text: rgba(0, 0, 0, 1); /*black*/
    --profButton-border: rgba(255, 255, 255, 1); /*white*/
  }
}
